body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.common-button {
    border-radius: 5px;
    text-decoration: none;
    background-color: #008000;
    color: #ffffff;
    padding: 1rem;
    width: 5rem;
}

.cell {
    height: 8rem;
    width: 8rem;
    border: 1.5px solid grey;
    border-style: inset;
    color: black;
    font-size: 12px;
    text-align: start;
}

.cell-black {
    background-color: #C19770;
}

.cell-white {
    background-color: #ffffff;
}

.common-button:active {
    background-color: #06402B;
    color: #ffffff;
}

.valid {
    background-color: #008000;
}

.valid-move {
    background-color: #008000;
}
